body {
	padding: 0;
	margin: 0;
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.app-container {
	.header-container {
		.navbar-nav {
			z-index: 10; //z-index: muc do xep chong len nhau cua cac phan tu. Phan tu nao co z-index cao hon se hien thi tren phan tu co z-index thap hon
			opacity: 0.6; //muc do trong suot cua navbar
			.nav-link {
				&.active {
					//& tuong trung cho ngang hang voi thang nav-link
					color: #00bfff;
				}
			}
		}
	}
}

video {
	position: fixed;
	bottom: 0;
	width: 100vw;
}
