body {
	padding: 0;
	margin: 0;
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.app-container {
	.header-container {
		//Cach code nay la cua css
		// .navbar-nav .nav-link.active {
		// 	color: red;
		// }

		//cach code cua scss:
		.navbar-nav {
			.nav-link {
				&.active {
					//& tuong trung cho ngang hang voi thang nav-link
					color: #00bfff;
				}
			}
		}
	}
}
