.login-container {
	.header {
		height: 45px;
		text-align: right;
		padding: 10px 100px 0 100px;
		button {
			margin-left: 10px;
			padding: 3px 10px;
			border-radius: 5px;
			background-color: #f9f9f9; //reset
			border: 1px solid;

			&:hover {
				background-color: white;
			}
		}
	}
	.title {
		padding: 20px 0;
		font-size: 25px;
		text-align: center;
	}
	.Welcome {
		padding: 10px 0;
		font-size: 20px;
		text-align: center;
	}
	.content-form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		button {
			width: 100%;
		}
		.back {
			cursor: pointer;
		}
	}
}
